$background-color:#fff;
$box-shadow: 0 8px 28px rgba(0,0,0,0.28);
$high-border: 1px solid rgba(0,0,0,0.04);
$primary-box-shadow: 0 6px 20px rgba(0,0,0,0.2);
$primary-border: 1px solid rgba(0,0,0,0.04);
$secondary-box-shadow: 0 6px 16px rgba(0,0,0,0.12);
$secondary-border: 1px solid rgba(0,0,0,0.04);
$border-box-color: #DDDDDD;
$tertiary-box-shadow: 0 1px 2px rgba(0,0,0,0.18);
$tertiary-border: 1px solid rgba(0,0,0,0.08);
$palette-black: #000;
$palette-hof: #222;
$palette-foggy: #717171;
$palette-bobo: #b0b0b0;
$palette-deco: #ddd;
$palette-bebe: #ebebeb;
$palette-faint: #f7f7f7;
$palette-white: #fff;
$palette-arches: #c13515;
$palette-arches2: #b32505;
$palette-arches12: #fff8f6;
$palette-ondo: #e07912;
$palette-spruce: #008a05;
$palette-mykonou5: #428bff;
$palette-rausch: #ff385c;
$palette-plus: #92174d;
$palette-lux: #460479;
$gradient-linear-gradient-color: linear-gradient(90deg,#bd1e59 0%,#92174d 50%,#861453);
$gradient-radial-gradient: radial-gradient(circle at center,#bd1e59 0%,#92174d 35%,#861453 50%,#6c0d63 100%);
$gradient-linear-gradient: linear-gradient(90deg,#bd1e59 0%,#92174d 50%,#861453);
$gradient-linear-gradient-login: linear-gradient(90deg,#59086e 0%,#460479 50%,#440589);
$luxe-gradient-radial-gradient: radial-gradient(circle at center,#59086e 0%,#460479 35%,#440589 50%,#3b07bb 100%);