@import './variabal.module.scss';

.Mainlayer{
    background: black;
    color: whitesmoke;
    height: 70vh;
    width: 100%;
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    
    

}